@font-face {
    font-family: minecraft;
    src: url('../font/minecraftfont.woff2');
} 

* {
    font-family: minecraft;
    margin: 0;
    padding: 0;
}

#showcase {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1em;
}

#author, #settings, #help {
    position: fixed;
    bottom: 1em;
    color: white;
}

#author {
    left: 1em;

}

#settings {
    right: 5em;
    text-decoration: underline;
    cursor: pointer;

}

#help{
    text-decoration: underline;
    cursor: pointer;
    right: 1em;
}

#showcase #clock {
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 1px black;
}

#showcase #greeting {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 1px black;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.shortcutvalue {
    width: 50%;
}

.shortcutkey {
    width: 50%;
}